@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    background-color: rgb(19, 18, 18);
    color: white;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
}

header{
    background-color: black;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 1.4em;
}

header img{
    width: 90px;
    height: 40px;
    margin-right: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

section{
    background-color: white;
    color: black;
    max-width: 350px;
    border-radius: 8px;
    flex: 1 1 400px;
}

section .foto{
    display: none;
}

section form{
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    font-weight: bold;
}

section form label{
    margin-top: 10px;
}

section form input{
    align-self: flex-start;
    margin-top: 5px;
}

section form p{
    margin-top: 10px;
    font-size: 11px;
}

section form #btnlogin{
    margin: 10px 0px;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.384);
    background-color: rgb(209, 208, 208);
    font-weight: bold;
}

section form #btnlogin:hover{
    background-color: darkred;
    color: white;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: yellow;
}

@media screen and (min-width:640px){

    section{
        max-width: 500px;
        height: 350px;
        justify-items: center;
        display: flex;
        justify-content: space-around;
        transition: 1s;
    }

    section form{
        align-self: center;
    }

    section .foto{
        display: block;
        padding: 10px;
        order: 1;
        align-self: center;
        align-items: flex-end;
    }

    section .foto img{
        width: 150px;
        border-radius: 10%;
    }
}