@charset "UTF-8";

:root {
    --corPrim: #000000;
    --corSecu: #131212;
    --corTerc: #d1d0d0;
    --corDest: #fff;
    --corShad: #00000062;
    --DestaSec: #8b0000;
    --corLink: #ebeb00;

    --fontPrim: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrim);
}

html,
body {
    background-color: var(--corSecu);
    color: var(--corDest);
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: var(--corPrim);
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.0em;
}

header img {
    width: 90px;
    height: 40px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

section#createos {
    background-color: var(--corDest);
    color: var(--corPrim);
    max-width: 350px;
    border-radius: 8px;
    flex: 1 1 400px;

}

section#createos h1 {
    padding: 10px;
}

section#createos .foto {
    display: none;
}

section#createos form {
    padding: 15px;
    font-weight: bold;
}

section#createos form label {
    margin-top: 10px;
}

section#createos form input {
    align-self: flex-start;
    margin-top: 5px;
}

#primir {
    padding: 5px;
    border-style: none;
    background-color: var(--corTerc);
    color: var(--corPrim);
    border-radius: 3px;
    font-weight: bold;
}

#primir:hover {
    background-color: var(--DestaSec);
    color: var(--corDest);
}

#contatar {
    padding: 5px;
    border-style: none;
    background-color: var(--corTerc);
    color: var(--corPrim);
    border-radius: 3px;
    font-weight: bold;
}

#contatar:hover {
    background-color: var(--DestaSec);
    color: var(--corDest);
}

footer {
    background-color: var(--corPrim);
    color: var(--corTerc);
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: var(--corDest);
    text-decoration: none;
}

footer a:hover {
    color: var(--corLink);
}



#printos {
    display: none;
}


@media screen and (min-width:640px) {

    header h1 {
        font-size: 1.8em;
    }

    section#createos {
        max-width: 90%;
    }

    label {
        margin: 15px;
    }

    fieldset {
        padding: 15px;
    }

    button {
        padding: 10px;
    }

    footer {
        font-size: 14px;
        color: var(--corTerc);
    }
}

@media print {
    #createos * {
        visibility: hidden;
    }

    body * {
        visibility: hidden;
    }

    #printos,
    #printos * {
        visibility: visible;
    }

    #printos {
        display: block;
        width: 58mm;
        margin: 0;
        font-size: 18px;
        font-family: monospace;
        color: black !important;
        position: absolute;
        top: 0;
        left: 0;
    }

    #printos p {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .cabeca {
        text-align: center;
    }

    img {
        width: 200px;
        /* -webkit-print-color-adjust: exact;
        print-color-adjust: exact; */
        filter: contrast(300%) brightness(0);
    }

    .os {
        font-size: 2em;
    }

    @page {
        size: 58mm auto;
        margin: 2mm;
    }

}