@charset "UTF-8";

:root{
    --corPrim:#000000;
    --corSecu:#131212;
    --corTerc:#d1d0d0;
    --corDest: #fff;
    --corShad:#00000062;
    --DestaSec:#8b0000;
    --corLink: #ebeb00;
    
    --fontPrim:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrim);
}

html,
body {
    background-color: var(--corSecu);
    color: var(--corDest);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: var(--corPrim);
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.0em;
}

header img {
    width: 90px;
    height: 40px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

section {
    background-color: var(--corDest);
    color: var(--corPrim);
    max-width: 350px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    flex: 1 1 400px;
}

section a {
        text-decoration: none;
        text-align: center;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--corPrim);
        width: 200px;
        margin-top: 10px;
        color: var(--corDest);
        align-self: center;
    }

    section a:hover{
        background-color: var(--corSecu);
        color: var(--corLink);
    }


footer {
    background-color: var(--corPrim);
    color: var(--corTerc);
    font-size: 10px;
    text-align: center;
    padding: 10px;    
    margin-top: 20px;
}

footer a {
    color: var(--corDest);
    text-decoration: none;
}

footer a:hover {
    color: var(--corLink);
}

@media screen and (min-width:640px) {

    header h1{
        font-size: 1.8em;
    }

    section {
        max-width: 500px;
        height: 350px;
        display: flex;
        flex-flow: column nowrap;
        transition: 1s;
    }
    section a {
        text-decoration: none;
        text-align: center;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--corPrim);
        width: 200px;
        margin-top: 10px;
        color: var(--corDest);
        align-self: center;
    }

    section a:hover{
        background-color: var(--corSecu);
        color: var(--corLink);
    }

    footer{
        font-size: 14px;
        color: var(--corTerc);
    }
}